div{
	width:200px;
	height:200px;
	border-radius: 50%;
	display:inline-block;
	background-color:pink;
	border:1px solid yellow;
	transition: transform 100ms;
	text-align: center;
	margin: 0 auto;

}
#dice{
	width:100px;
	height:100px;
	border-radius: 50%;
	display:inline-block;
	background-color:yellow;
	border:1px solid yellow;
	text-align: center;
	margin: 0 auto;

}

.div1{
	transform: translate(20px, 20px);
}